extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/all.css" )

block content
  h1 Statistiken für alle Probanden
  svg#pie
  h2 Beginn der Mediennutzung im Vergleich zum Alter
  .rel
    p.abs.agex Alter (Jahre)
  .rel
    p.abs.agey Start Alter (Jahre)
  svg#ageStartAge
  h2 Anteil des Tages im Flugzeugmodus im Vergleich zum Alter
  .rel
    p.abs.agex Alter (Jahre)
  .rel
    p.abs.agey Zeit im Flugzeugmodus (Prozent)
  svg#ageSilent

block scripts
  script( src="js/all.js" )
