extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/all.css" )

block content
  h1 Statistiken für alle Teilnehmer
  //svg#pie
  svg#ageStartAge( width="1000" height="600" )

block scripts
  script( src="js/all.js" )
