extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/finish.css" )

block content
  h1 #disconnected
  p Danke f端rs Ausf端llen, deine Statistiken sind nun 端ber den Beamer einsehbar.
  a( href="/" ) Erneut Ausf端llen
  style.
    body {
      padding: 0;
    }
