extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/form.css" )

block content
  label( for="name" ) Name 
    span.fs-small(Zur eigenen Identifikation)
  input#name( type="text" )
  label( for="age" ) Alter 
    span.fs-small (Jetztiges Alter)
  input#age( type="number" )
  div
    p( style="margin: 0;" ) Services 
      span.fs-small (Bitte kreuze die Services an welche du nutzt)
    .services-grid
      div
        input#s-fb( type="checkbox" name="services" )
        label( for="s-fb" ) Facebook
      div
        input#s-insta( type="checkbox" name="services" )
        label( for="s-insta" ) Instagram
      div
        input#s-snap( type="checkbox" name="services" )
        label( for="s-snap" ) Snapchat
      div
        input#s-twitter( type="checkbox" name="services" )
        label( for="s-twitter" ) Twitter
      div
        input#s-yt( type="checkbox" name="services" )
        label( for="s-yt" ) YouTube
      div
        input#s-nf( type="checkbox" name="services" )
        label( for="s-nf" ) Netflix
      div
        input#s-steam( type="checkbox" name="services" )
        label( for="s-steam" ) Steam
      div
        input#s-fortnite( type="checkbox" name="services" )
        label( for="s-fortnite" ) Fortnite
      //.group
        input#s-( type="checkbox" name="services" )
        label( for="s-" )
  label(for="startingAge") Start Alter 
    span.fs-small (Das Alter mit welchem du mit Sozialen Medien, Online Spiele, Youtube/Netflix, etc. begonnen hast)
  input#startingAge( type="number")
  label(for="time") Zeit 
    span.fs-small (Täglicher Medienkonsum in Minuten)
  input#time( type="number")
  button#next Weiter

block scripts
  script( src="js/form.js" )
