extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/form.css" )

block content
  label( for="name" ) Wie heißt du? (Zur Identifikation)
  input#name( type="text" )
  label( for="age" ) Wie alt bist du? 
  input#age( type="number" )
  div
    p( style="margin: 0;" ) Welche Services nutzt du aktiv?
    .services-grid
      div
        input#s-fb( type="checkbox" name="services" )
        label( for="s-fb" ) Facebook
      div
        input#s-insta( type="checkbox" name="services" )
        label( for="s-insta" ) Instagram
      div
        input#s-snap( type="checkbox" name="services" )
        label( for="s-snap" ) Snapchat
      div
        input#s-twitter( type="checkbox" name="services" )
        label( for="s-twitter" ) Twitter
      div
        input#s-yt( type="checkbox" name="services" )
        label( for="s-yt" ) YouTube
      div
        input#s-nf( type="checkbox" name="services" )
        label( for="s-nf" ) Netflix
      div
        input#s-steam( type="checkbox" name="services" )
        label( for="s-steam" ) Steam
      div
        input#s-fortnite( type="checkbox" name="services" )
        label( for="s-fortnite" ) Fortnite
      div
        input#s-cr( type="checkbox" name="services" )
        label( for="s-cr" ) Clash Royale
      //.group
        input#s-( type="checkbox" name="services" )
        label( for="s-" )
  label(for="startingAge" style="padding-top: 40px;" ) Mit welchem Alter hast du mit der aktiven Nutzung von Medien begonnen?
  input#startingAge( type="number" )
  label(for="time") Wie viel Zeit verbringst du täglich mit Medien (in Minuten)?
  input#time( type="number")
  button#next Abschicken

block scripts
  script( src="js/form.js" )
