head
  meta( charset="UTF-8" )
  title
  link( rel="icon" href="" )
  link( rel="stylesheet" type="text/css" href="../css/line.css" )
body
  svg#graph( width="1000" height="500" )

  script( src="../js/line.js" )
