extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/names.css" )

block content
  h1#new Die letzten Probanden:
  ul
    for participant in names
      li
        a( href=participant.url )=participant.name

block scripts
  script( src="js/names.js" )
