extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/stats.css" )

block content
  h1 Statistiken für #{name}
  h2.medien-alter Medienverbrauch auf Lebenszeit, basieren auf aktueller Nutzung
  div.medien-alter( style="position: absolute;" )
    p#line-x Medienverbrauch (min)
  div.medien-alter( style="position: absolute;" )
    p#line-y Alter in Jahren
  svg#graph.medien-alter( width="1200" height="700" )
  p#nutzung.medien-alter

block scripts
  script( src="js/stats.js" )