extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/stats.css" )

block content
  h1 Statistiken für #{name}
  h2 Medienverbrauch auf Lebenszeit, basieren auf aktueller Nutzung
  div( style="position: absolute;" )
    p#line-x Medienverbrauch (min)
  div( style="position: absolute;" )
    p#line-y Alter in Jahren
  svg#graph( width="1200" height="700" )

block scripts
  script( src="js/stats.js" )