extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/stats.css" )

block content
  h1 Statistiken für #{name}
  svg#graph( width="1000" height="500" )

block scripts
  script( src="js/stats.js" )