block styles
  link( rel="stylesheet" type="text/css" href="css/welcome.css" )

block content
  h1 #disconnected
  p Erfahrt mehr über eueren Medienkonsum im Vergleich mit anderen Besuchern.<br><br>Unter Medienkonsum verstehen wir die Nutzung von sozialen Medien, Entertainment Services, wie Netflix, TV und Online Spielen.<br><br>Um eure Analyse zu erstellen benötigen wir ein paar Informationen von euch.<br>Füllt dazu bitte das vorliegende Formular aus. Eure Ergebnisse werden dann über den Beamer präsentiert.
  a( href="form" ) Umfrage
  style.
    body {
      padding: 0;
    }
