@import "_vars.scss";

body {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 44px;
}

h1 {
  font-size: 55px;
}
p {
  padding: 0 5vw;
}
a {
  text-decoration: none;
  color: $white;

  &:hover {
    background: $black;
  }

  margin-bottom: 50px;
}
