@import "_vars.scss";

body {
  align-items: center;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 24px;
  padding: 20px 40px;
  text-align: center;
}

#line-x, #line-y {
  position: relative;
  font-size: $fs-text;
  padding: 0;
}
#line-x {
  top: 180px;
  right: 350px;
}
#line-y {
  position: relative;
  top: 750px;
  left: 550px;
}
.tick text {
  font-size: 20px;
}

.white {
  color: $white;
}
